.bar1 {
    width: 100%;
    min-height: 30px;
}
.channel {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
body {
    background-color: rgb(21, 27, 27);
    color: aliceblue;
}

.control {
    grid-area: 1 / 1 / 2 / 2;
}
.bar {
    grid-area: 1 / 2 / 2 / 6;
}
