@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
:root {
    --white: #fff;
    --active-color: #00aeb0;
    --cursor-height: 120px;
}

.channel {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow: hidden;
}
body {
    background-image: url("./media/images/backgroundMixer.jpg");
    background-size: cover;
    color: aliceblue;
    font-family: "Open Sans", sans-serif;
}

.control {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}
.bar {
    grid-area: 1 / 2 / 2 / 11;
    width: 100%;
    min-height: 30px;
    padding-left: 30px;
}
.looper {
    opacity: 1;
}
.button {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
    width: 15vh;
    height: 15vh;
}
.play_bar {
    left: 50%;
    bottom: 4vh;
    z-index: 5;
    font-size: 60px;
}

.restart_bar {
    left: 40%;
    bottom: 4vh;
    z-index: 5;
    font-size: 60px;
}

.goToStart_bar {
    left: 60%;
    bottom: 4vh;
    z-index: 5;
    font-size: 60px;
}

.cursor::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px; /* Set a specific slider handle width */
    background: rgb(37, 37, 37);
    height: var(--cursor-height);
}
.cursor::-webkit-slider-thumb:hover {
    cursor: ew-resize;
}

.cursor {
    background-color: rgba(240, 248, 255, 0);
}

.color-backdrop {
    background: linear-gradient(45deg, var(--active-color) 20%, transparent 100%)
      no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  .color-backdrop.playing {
    animation: colorChange 20s alternate infinite;
  }
  
  @keyframes colorChange {
    from {
      filter: hue-rotate(0deg);
    }
    to {
      filter: hue-rotate(360deg);
    }
  }
  